/* General CSS */

/*.image-badge {
  ;
}*/

/* Main Page CSS */

header {
  height: 80px;
  margin-top: 20px;
}

header h2 {
  float: left;
  margin-left: 15px;
}

header .btn {
  float: right;
  margin-right: 15px;
  font-size: 20px;
}

.movie-item:first-of-type {
  border-top: 1px solid black;
}

.movie-item {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 150px;
}

.movie-item .badge-container {
  height: 148px;
  margin-left: 10px;
  float: left;
  background-color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.movie-item .image-badge {
  vertical-align : middle;
}

.movie-item .movie-title {
  float: right;
  margin-right: 30px;
  margin-top: 50px;
}

/* Movie Show CSS */

.show-movie-header {
  height: 100px;
}

.show-movie-header h1 {
  float: left;
}

.show-movie-header .controls {
  float: right;
}

.imageUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.images .image-badge {
  margin-left: 10px;
}
