/* Main Page CSS */

header {
  height: 80px;
  margin-top: 20px;
}

header h1 {
  float: left;
  margin-left: 15px;
}

header .btn {
  float: right;
  margin-right: 15px;
  font-size: 20px;
}

.movieItem {
  border: 1px solid black;
  height: 100px;
}

/* Movie Show CSS */

.show-movie-header {
  height: 100px;
}

.show-movie-header h1 {
  float: left;
}

.show-movie-header .controls {
  float: right;
}

.imageUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
